@font-face {
    font-family: 'Codex';
    src: url('../fonts/codex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Condensed';
    src: url('../fonts/condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
